<!DOCTYPE html>
<meta charset="utf-8">

<head>
<title></title>
<link rel="stylesheet" type="text/css" href="static/style.css">
<link href='//fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
</head>

<body style="text-align: center;">

<br>

<img src='static/logo.png'>

<h1>FactionView</h1>
<i>competetive network analysis</i>

<div style="width:800px; margin:0 auto; text-align: justify;">
<p>FactionView is an innovative network analysis tool that uses machine learning techniques to visualize coalition dynamics in complex multi-agent systems. The graph of relationships between agents in a given system is projected onto a two-dimensional plane, producing a kind of strategic map of that system in which agents with more similar relationships appear closer together. This is a generalized visualization technique, and it can be applied to any domain in which there is data that can be modeled as a set of competitive or cooperative relationships.</p>

<p>Originally developed to analyze political factions in Congress, this technique can be applied to the stock market by looking at correlations in stock price changes, revealing the hidden structure of market dynamics. This allows investors and corporate decision-makers to visualize the "big picture" of the economy as a system of interconnected firms, and provides useful insights about the roles that individual firms play within the economy.</p>

<p>Examples:</p>
<p><a href="./markets">FactionView Markets</a> &mdash; S&P 500 market structure based on correlations of daily stock price changes</p>
<p><a href="http://danvegeto.com/machiavelli/">FactionView Politics</a> &mdash; coalition structures in the U.S. Congress based on voting patterns</p>

<p>If you're interested in FactionView, please contact Dan Vegeto: <a href='mailto:danvegeto@gmail.com'>danvegeto@gmail.com</a></p>

<p>&copy; 2016 FactionView</p>

</div>

</body>